@model IEnumerable<PetPickupSolution.Models.PetPickupModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetMicroChipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetMicroChipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerPhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PetID">Delete</a>
                <!--Here will be the button to send message-->
            </td>
        </tr>
}
    </tbody>
</table>
